body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.drawer div:first-child {
  /*background-color: #0097A7 !important;*/
}

.drawer .logo-container {
  text-align: center;
  padding-top: 30px;
}

.drawer h5 {
  text-align: center;
}

.drawer h4 {
  padding-left: 12px;
  margin-bottom: 4px;
  font-size: 12px;
}

.drawer .menu-item-link {
  text-decoration: none;
}

.drawer .menu-item-link-active .menu-item {
  background-color: #AFF !important;
}

.home-container {
  border: 1px solid #EEE;
  max-width: 1100px;
  min-height: 600px;
  margin: 10px auto;
}

.home-container .top-bar {
  border-bottom: 1px solid #EEE;
  text-align: right;
}

.home-container h2 {
  padding: 100px;
}

.app {
  margin-left: 250px;
}

.app-container {
  padding: 10px;
}


.app .full-page-loading {
  width: 100%;
  height: 200px;
  text-align: center;
  padding-top : 50px;
}



/* Polls */
.app .polls-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

@media (max-width: 800px) { /* 320 */
  .app .poll-container {
    width: 100%;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .app .poll-container {
    width: 50%;
  }
}
@media (min-width: 1201px) and (max-width: 1600px) {
  .app .poll-container {
    width: 33%;
  }
}
@media (min-width: 1600px) {
  .app .poll-container {
    width: 400px;
  }
}

.app .poll {
  margin: 8px;
}

.app .poll .title {
  font-size: 18px;
  padding: 10px 12px 4px;
}

.app .poll .description {
  font-size: 14px;
  padding: 0px 12px 10px;
}

.app .poll .option {
  min-width: 30px !important;
  width: 33.33% !important;
}

.app .poll .option span {
  font-size: 11px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.dialog .loading-container {
  width: 100%;
  padding: 10px 0 20px;
  text-align: center;
}

/* Edit question*/

.dialog .question {
  margin-bottom: 20px;
}

.dialog .chip span {
  font-size: 11px !important;
}

/* Questions */
.app .questions-container {
  max-width: 800px;
}

.app .question-container {
  margin-bottom: 16px;
}

.app .question .title {
  font-size: 18px;
  padding: 10px 12px 4px;
}

.app .question .option {
  min-width: 30px !important;
  padding: 0 10px !important;
}

.app .question .option span {
  font-size: 11px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

/* OptionsContainer */
.app .options-containers-container {
  max-width: 800px;
}

.app .options-container-container {
  margin-bottom: 16px;
}

.app .options-container .title {
  font-size: 18px;
  padding: 10px 12px 4px;
}

.app .options-container .option {
  min-width: 30px !important;
  padding: 0 10px !important;
}

.app .options-container .option span {
  font-size: 11px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

/* Employees */
.app .employees-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

@media (max-width: 800px) { /* 320 */
  .app .employee-container {
    width: 100%;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .app .employee-container {
    width: 33%;
  }
}
@media (min-width: 1201px) and (max-width: 1600px) {
  .app .employee-container {
    width: 25%;
  }
}
@media (min-width: 1600px) {
  .app .employee-container {
    width: 300px;
  }
}

.app .employee {
  margin: 8px;
}

.app .employee .title {
  padding: 10px 12px;
  text-align: center;
}

.app .employee .thumb-wrapper {
  margin: 0 5px;
}

.app .employee .thumb {
  display: inline-block;
  width: 100%;
  height: 200px;
  background-position: center center;
  background-size: cover;
}

.app .employee-container .option {
  min-width: 30px !important;
  padding: 0 10px !important;
}

.app .employee-container .option span {
  font-size: 11px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.app .employee .sellpoints-title {
  font-size: 11px;
  padding: 0 5px;
}

.app .employee .sellpoints-wrapper {
  padding-bottom: 5px;
}

.app .employee .chip {
  font-size: 10px !important;
}

.app .optionsContainerEdit .add-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 5px 10px 10px;
}

.app .optionsContainerEdit .add-button {
  min-width: 140px !important;
}

